# Virtual environment
venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Common large data formats (prevent accidental commits)
*.csv
*.json
*.zip
*.tar
*.gz
*.parquet
*.xlsx
*.h5
*.pickle
*.pkl
*.sav

# OS / Editor files
.DS_Store
Thumbs.db

# Bytecode and cache
__pycache__/
*.py[cod]

# Environment files
.env
